#blogs .h1 {
    margin: 1rem 0;
    font-size: var(--fs-600);
    font-weight: bold;
    text-align: center;
}
#blogs .list {
    direction: rtl;
    list-style: disc;
}

#blogs .blog-item a {
    /* inline-block so that the inner <h2> doesn't make the link stretch the whole viewport width. */
    display: inline-block;
    color: black;
    /* background-color: aquamarine; */
    text-decoration: none;
    cursor: pointer;
    transition: transform .3s;
}
#blogs .blog-item a:hover {
    color: var(--clr-accent-hover);
    transform: translateX(-5px);
}
#blogs .blog-title {
    font-size: var(--fs-500);
}
#blogs .blog-item footer {
    font-size: var(--fs-400);
    color: rgb(65, 65, 65);
    /* In order to place <p> and <time> on the same line */
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
#blogs .blog-item time {
    font-size: var(--fs-400);
}

/* ------ pagination controls ------- */
#blogs .pagination-controls {
    border-top: 1px solid gray;
    padding: .5rem 0;
    padding-top: 1rem;
    display: flex;
    gap: .75rem;
    justify-content: center;
}
#blogs .pagination-controls a {
    text-decoration: none;
    color: black;
    /* To make the link bigger and easier to click */
    padding: .25rem .25rem;
    /* background-color: gray; */
}

#blogs .pagination-controls a .icon {
    pointer-events: none;
    width: 1.75rem;
    height: 1.75rem;
}

/* */
