<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/public/css/global.css">
    <title>بنویس</title>
</head>

<body dir="rtl">
    <!-- Having dir ↖️ as html attr is more appropriate, according to https://stackoverflow.com/a/5375907. -->

    <div class="menu-toggle">
        <span></span>
        <span></span>
    </div>
    <nav aria-label="Main Menu">
        <!-- ↖️ according to https://www.w3.org/WAI/tutorials/menus/structure/ -->
        <div class="nav-item-group">
            <ul>
                <li class="nav-item to-reveal">
                    <a href="#">Works/<span>01</span></a>
                </li>
                <li class="nav-item to-reveal">
                    <a href="#">About/<span>02</span></a>
                </li>
                <li class="nav-item to-reveal">
                    <a href="#">Blog/<span>03</span></a>
                </li>
                <li class="nav-item to-reveal">
                    <a href="#">Contact/<span>04</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <header class="header">
        <span class="to-reveal">
            <h1>Studio</h1>
        </span>
    </header>

    <main class="to-reveal">
        <div>
            
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe sequi enim voluptas ex laudantium? Consequuntur
            eos consequatur ducimus dolorum! Similique ad voluptate nihil sint nisi itaque minus unde iste harum, culpa
            earum aperiam, asperiores numquam deleniti magni optio distinctio illo ipsam ab debitis recusandae eligendi non
            temporibus! Explicabo, vel officiis!
        </div>
    </main>

    <script type="module" src="/public/js/style-stuff.js"></script>
</body>

</html>