<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/public/css/global.css">
    <title>بنویس</title>
</head>

<body>
    <div class="menu-toggle" role="button" aria-label="Main menu toggle" aria-expanded="false">
        <!-- According to http://web-accessibility.carnegiemuseums.org/code/navigation/. -->
        <span></span>
        <span></span>
    </div>
    <nav aria-label="Main Menu" aria-hidden="false">
        <!-- ↖️ according to https://www.w3.org/WAI/tutorials/menus/structure/ -->
        <div class="nav-item-group">
            <ul dir="rtl">
                <!-- I -->
                <li class="nav-item to-reveal">
                    <a href="#" aria-current="page">
                        <span>۰۱</span>/ نوشته‌ها
                    </a>
                </li>
                <li class="nav-item to-reveal">
                    <a href="#">
                        <span>۰۲</span>/ افزودن نوشته
                    </a>
                </li>
                <li class="nav-item to-reveal">
                    <a href="#"><span>۰۳</span>/ ثبت‌نام</a>
                </li>
                <li class="nav-item to-reveal">
                    <a href="#"><span>۰۴</span>/ ورود</a>
                </li>
            </ul>
        </div>
    </nav>

    <header class="header">
        <span class="to-reveal">
            <h1>Studio</h1>
        </span>
    </header>

    <main class="to-reveal">
        <div class="u-container">

            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe sequi enim voluptas ex laudantium?
            Consequuntur
            eos consequatur ducimus dolorum! Similique ad voluptate nihil sint nisi itaque minus unde iste harum, culpa
            earum aperiam, asperiores numquam deleniti magni optio distinctio illo ipsam ab debitis recusandae eligendi
            non
            temporibus! Explicabo, vel officiis!
        </div>
    </main>

    <script type="module" src="/public/js/reveal-animation.js"></script>
</body>

</html>