<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/public/css/global.css">
    <link rel="stylesheet" href="/public/css/blog-paginated-view.css">
    <title>بنویس</title>
</head>

<body>
    <div class="menu-toggle" role="button" aria-label="Main menu toggle" aria-expanded="false">
        <!-- According to http://web-accessibility.carnegiemuseums.org/code/navigation/. -->
        <span></span>
        <span></span>
    </div>
    <nav aria-label="Main Menu" aria-hidden="false">
        <!-- ↖️ according to https://www.w3.org/WAI/tutorials/menus/structure/ -->
        <div class="nav-item-group">
            <ul dir="rtl">
                <!-- I -->
                <li class="nav-item to-reveal">
                    <a href="/blog/paginated" data-link aria-current="page">
                        <span>۰۱</span>/ نوشته‌ها
                    </a>
                </li>
                <li class="nav-item to-reveal">
                    <a href="#" data-link>
                        <span>۰۲</span>/ افزودن نوشته
                    </a>
                </li>
                <li class="nav-item to-reveal">
                    <a href="#" data-link>
                        <span>۰۳</span>/ ثبت‌نام
                    </a>
                </li>
                <li class="nav-item to-reveal">
                    <a href="#" data-link>
                        <span>۰۴</span>/ ورود
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <main>
        <section class="page u-container to-reveal" id="blogs" aria-hidden="true">
        </section>
        <section class="page u-container to-reveal" id="single-blog" aria-hidden="false">
        </section>
        <section class="page u-container to-reveal" id="create-blog" aria-hidden="false">
        </section>
        <section class="page u-container to-reveal" id="signup" aria-hidden="false">
        </section>
        <section class="page u-container to-reveal" id="login" aria-hidden="false">
        </section>
        <section class="page u-container to-reveal" id="not-found" aria-hidden="false">
        </section>
    </main>

    <script type="module" src="/public/js/index.js"></script>
</body>

</html>