<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/public/css/global.css">
    <link rel="stylesheet" href="/public/css/views.css">
    <title>NEVIS</title>
</head>

<body>
    <div class="menu-toggle" role="button" aria-label="Main menu toggle" aria-expanded="false">
        <!-- According to http://web-accessibility.carnegiemuseums.org/code/navigation/. -->
        <span></span>
        <span></span>
    </div>
    <nav aria-label="Main Menu" aria-hidden="false">
        <!-- ↖️ according to https://www.w3.org/WAI/tutorials/menus/structure/ -->
        <div class="nav-item-group">
            <ul dir="rtl">
                <!-- Will be populated based on whether user is logged in or not. -->
            </ul>
        </div>
    </nav>

    <main class="u-container" id="page" aria-hidden="false">
        <!-- Content of page will be injected here -->
    </main>

    <script type="module" src="/public/js/index.js"></script>
</body>

</html>