# These may differ for each test, since we may want to divide and run tests concurrently or in parallel in multiple 
# processes on the same machine.

# If you want to run tests concurrently on the same machine, the following should definitely be unique for each test 
# suite (something like below). Otherwise a test will pollute data of other currently test.
MYSQL_DB_NAME="nevis__user_signup_test"

MYSQL_USERNAME="nevis_nodejs_app__user_signup_test"

# Make sure the password satisfies current policy requirements. Something like:
MYSQL_PASSWORD="pass_^SaTifYinG_1402_policy_1402"


# The test server that we spin up in our test suite will listen to this port during the test suite.
# If you want to run tests concurrently on the same machine, you should specify different PORT for each test.
PORT=

# Don't change this, unless you have set up internal routing rules OR configure /etc/mysql/my.cnf file. See 
# also src/data-access/connection.js comments for more info.
MYSQL_PORT="3306"

# ? As you can see there is no config for Redis cache, since we disable cache in our tests.