# We mostly use the same settings in nodemon.json, though it's not necessary.
# Don't include DISABLE_CACHE (unlike nodemon.json).
# Don't specify MAIL_HOST and etc.

PORT="9079"
MYSQL_DB_NAME="nevis_db_test__e2e"
MYSQL_USERNAME="nevis_nodejs_test__e2e"
MYSQL_PASSWORD="pass_^SaTifYinG_1402_policy_1402"
MYSQL_PORT="3306"
REDIS_HOST="localhost"
REDIS_PORT="6379"
